@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

.root {
  width: 100%;
  height: 100vh;
  background-color: rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  gap: 5vh;
  color: white;
  font-size: large;
  align-items: center;
  justify-content: center;
}

.box {
  width: 40%;
  height: 73%;
  background-color: black;
  border-radius: 15px;
  display: flex;
  -webkit-box-shadow: -6px 9px 81px -15px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: -6px 9px 81px -15px rgba(0, 0, 0, 0.99);
  box-shadow: -6px 9px 81px -15px rgba(0, 0, 0, 0.99);
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  
}
input {
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  font-size: 60px;
  text-align: right;
}
.boxSecond {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr 1fr 70px);
  gap: 1vh;
  justify-content: center;
  height: 100%;
}
.boxSecond button {
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 30px;
  background-color: rgb(57, 57, 57);
  color: white;
}
.boxSecond .arith {
  background-color: rgb(115, 115, 115);
  color: black;
}
.boxSecond button:hover {
  background-color: rgb(76, 76, 76);
}
.boxSecond .round {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  background-color: rgb(219, 159, 7);
  color: white;
}
#display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  height: 100px;
  font-family: Arial, sans-serif;
  overflow: hidden; 
  box-sizing: border-box;
}

#previous-input {
  font-size: 18px;
  color: gray;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 100%;
}

#current-input {
  font-size: 46px;
  color: white;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 100%; 
}
